.user-details{
    width: 60%;
    margin: 10px auto;
}

.users-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .users-table td, .users-table th {
    border-bottom: 1px solid #ddd;
    padding: 6px;
  }
  
  .users-table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #2C3E50;
    color: white;
  }