* {
  box-sizing: border-box;
}

html {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}